---
---

@import "minima";


.post-content h1 {
    font-size: 32px;
    border-bottom: 1px solid #eaecef;
    font-weight: 600
}

.post-content h2 {
    font-size: 28px;
}

code, .highlighter-rouge .highlight {
    background-color: #f6f8fa;
}

#search {
    float: right;
    margin-right: 5em;
}


@media print {

    #search, .search, .site-header, .site-footer, .post-meta, .post-content > ul:nth-child(1){
        display: none;
    }

    code, .highlighter-rouge .highlight{
        background-color: #f2f2f2;
    }
    
    .post-content h1:not(:first-of-type) {
        page-break-before: always;
    }

}