<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{%- include head.html -%}
{%- include mathjax.html -%}

<body>

    {%- include header.html -%}

    <form id='search' action="{{site.baseurl}}/search.html" method="get">
        <label for="search-box">Search</label>
        <input type="text" id="search-box" name="query">
        <input type="submit" value="search">
      </form>

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>

    {%- include footer.html -%}

</body>

</html>